<div id="<%= dom_id flat %>">
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>

  <p>
    latitude: <%= flat.latitude %>
  </p>

  <p>
    longitude: <%= flat.longitude %>
  </p>

</div>
